.AppCheck {
    margin-left: 5px;
    margin-top: 10px;
    text-align: left;
  }
 .AppCheck p {
   margin: 5px;
 } 

  /* Form ingresar receta */

  fieldset {
    margin: 1em 0;
    padding: 1em 2em;
    border: solid 1px blue;
    border-radius: 6px;
    min-width: 100px;
    max-width: 600px;

  }

  legend {
    font-size: 1.25em;
    padding:0 .25em;
    color: blue
  }

  .label-receta {
    display:inline-block;
    margin-top: 0.5em;
    width: 90px;
  } 

  .label-receta:first-of-type {
    margin-top: 0;
  }

  .input-receta {
    padding: .3em;
    border: solid 1px #999;
    margin-left: 40px;
  }

  .input-receta[name="resumen"] {
    width: 450px;
  }

  .input-receta[name="nombre"] {
    width: 300px;
  }

  .textarea {
    min-height: 5em;
    min-width: 100%;
    padding: .5em;
    border: solid 1px #999;
  }

  .mandatorios {
    margin-left: 20px;
  }
  /********************************/
 
  ul {
    list-style: none;
  }

 .barraHome {
   margin-bottom: 20px;
  
 }

 .btn-submit {
  padding: .5em 1em;
  border-radius: 28px;
  background-color: #3498db;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
}

.btn-submit:hover {
  background-color: #3cb0fd;
  color: #ffffff;
 }

 .btn, .btn-ing {
   padding: .5em 1em;
   border-radius: 28px;
   background-color: #3498db;
   color: #ffffff;
   font-family: 'Lato', sans-serif;
   font-size: .8em;
   cursor: pointer;
   margin-top: 20px;
   text-decoration: none;
 }

 .btn-ing {
   margin-top: 100px;
 }

.btn:hover {
  background-color: #3cb0fd;
  color: #ffffff;
}

 .btn-submit:disabled {
  background: #94989b;
  padding: .5em 1em;
  border-radius: 28px;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
 }

 /*  Lista recetas */

 .caja {
  display:flex;
  flex-direction: column;
  border: 3px solid grey;
  background-color:rgb(214, 220, 226);
  width: 800px;
  height: 250px;
  margin-top: 40px;
  margin-right: 20px;
  padding: 25px;
  border: 3px solid grey;
  border-radius: 10px;
}

.caja-headers {
  display: flex;
  justify-content: flex-start;
  justify-content:space-between;
  width: 800px;
  margin-left: 50px;
  margin-top: 0px;
  height: 20px;
 }

.caja-datos {
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

.caja-datosTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caja-nombre {
  font-size: 24px;
  font-family: Arial;
  text-align: center;

}

/****************************/

/*  Detalle */
.caja-detalle {
  display:flex;
  border: 3px solid grey;
  background-color:rgb(214, 220, 226);
  width: 1300px;
  height: 250px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 25px;
  border: 3px solid grey;
  border-radius: 10px;
}

.receta-detalle {
  margin-left: 20px;
  text-align:left;
}

.receta-datos  {
  margin-top: 8px;
  margin-bottom: 8px;
}

.botones-detalle {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;
  
}
.cajaTitle {
    width: 300px;
}

/*  Home   */

.home-bottom {
  margin-top: 0px;
}

.titulo-home {
  margin-bottom: 10px;
  margin-top: 10px;
}

.labels-home {
  display:inline-block;
  margin-top: 0.5em;
  width: 105px;
}
.label-ordenamiento {
  display:inline;
  margin-top: 0.5em;
  width: 300px;
}
.ordenamiento {
   margin-bottom: 10px;
   display: inline;
   width: 200px;
 }

.landing {
    margin-top: 10px;
    height: 550px;
    background-image:  url("./images/cooking.png")  ;
    background-color: transparent;
    background-position: 50% 50%;
}
.landing-btnx {
   margin-left: 300px;
   width: 150px;
   font-size: 25px;
   font-family:Arial, Helvetica, sans-serif;
}

  .landing-btn {
    border: 2px solid red;  
    width: 600px;  
    height: 75px; 
    display: grid; 
   
  }
  .landing-btnxxx {
    border: 2px solid red;  
    width: 600px;  
    height: 75px; 
    display: grid; 
  }

  .btn-land {
    font-size: 25px;
    margin-top:0px;
    text-align: center;
  }
  .landing-title {
    text-align: center;
    margin: 10px;
    font-family:cursive;
    font-size: 40px;
  }
  #btnx{
    font-size: 25px;
    }


  .landing-topx {
    display: flex
  }
  body {
    background: #D0E4F5 url("./images/food.png")  scroll 0% 0%;
  }

  /* PAGINATION */

  .pageNumbers {
    list-style: nome;
    display: flex;
  }

  .pageNumbers li {
    padding: 10px;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    color: white;
  }

  .pageNumbers li.active {
    background-color: white;
    color: black;
  }

  .pageNumbers li button {
    background-color: black;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  } 

  .pageNumbers li button:hover {
      background-color: white;
      color: black;
  }

  .pageNumbers li button:focus {
    outline: none;
  }

  .loadmore {
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border: 1px solid white;
    cursor: pointer;
  
  }



  /* CODIGO VIEJO */
/*
  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding:  5px 20px 7px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .btn:disabled {
    background: #c3dcec;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #460404;
    font-size: 15px;
    padding:  5px 20px 7px 20px;
    text-decoration: none; 
  }
 
  .btn-ing {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding:  5px 20px 7px 20px;
    text-decoration: none;
    
  }
*/


  